@import url("../../daVasstTrees.css");
.container-fluid {
    .cartDetail {
        width: 100%;
        display: flex;

        &-list {
            width: 70%;

            &__remove {
                font-size: 20px;
                background: var(--color_white_main);
                color: var(--color_green_main);
                border: none;
                border-radius: 10px;
                cursor: pointer;
            }

            .price {
                color: var(--color_green_main);
                font-size: 20px;
            }

            .btnupdate {
                color: var(--color_green_main);
                font-size: 20px;
                border: none;
                background: var(--color_white_main);
                cursor: pointer;
            }

            .number {
                font-size: 20px;
                color: var(--color_green_main);
                margin-inline: 15px;
            }
        }

        th {
            margin-bottom: 20px;
            border: 1px solid red;
        }

        td {
            text-align: center;
            border: 1px solid black;
        }

        .product {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 30px;
            padding-block: 10px;

            img {
                width: 90px;
                height: 90px;
            }

            span {
                cursor: pointer;
                color: var(--color_green_main);
                font-size: 20px;
            }
        }

        &-total {
            width: 30%;
            border: 1px solid red;
            padding-inline: 15px;
            padding-top: 15px;

            &__title {
                font-size: 24px;
                color: var(--color_green_main);
                margin-bottom: 5px;
            }

            &__price {
                color: var(--color_green_main);
                display: flex;
                justify-content: space-between;
                margin-bottom: 10px;
                font-size: 20px;
            }

            &__btn {
                background: var(--color_green_main);
                color: var(--color_white_main);
                font-size: 17px;
                border: none;
                padding: 10px;
                border-radius: 10px;
                cursor: pointer;
                a{
                    color:var(--color_white_main);
                }
            }
        }
    }
}
.cartempty{
    font-size:27px;
    color:var(--color_green_main);
    margin-bottom:20px;
}
