@import url("../../daVasstTrees.css");
.pay {
  padding-block: 20px;
  display: flex;
  justify-content: space-between;
}
.pay-info {
  width: 55%;
}
.pay-info__title {
  color: var(--color_green_main);
  margin-bottom: 10px;
}
.pay-info-item {
  margin-bottom: 10px;
}
.pay-info-item input {
  width: 100%;
  height: 30px;
  font-size: 18px;
  padding-left: 10px;
}
.pay-info-item label {
  color: var(--color_green_main);
  margin-bottom: 8px;
  font-size: 18px;
}
.pay-info-item textarea {
  width: 100%;
  resize: none;
  padding-left: 10px;
  padding-top: 10px;
}
.pay-detail {
  width: 40%;
}
.pay-detail__title {
  color: var(--color_green_main);
  margin-bottom: 10px;
}
.pay-detail-product__item {
  display: flex;
  justify-content: space-between;
  margin-block: 5px;
  font-size: 20px;
}
.pay-detail label {
  cursor: pointer;
}
.pay-detail input {
  margin-block: 15px;
  cursor: pointer;
}
