@import url("../../daVasstTrees.css");
.productList {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
.productList .detailmain {
  width: 95%;
  display: flex;
  gap: 20px;
  flex-wrap:wrap;
}
