@import url("../../daVasstTrees.css");
.footer{
    width:100%;
    text-align:center;
    padding-block:10px;
    background:var(--color_white_main);
    font-size:25px;
    color:var(--color_green_main);
}
