@charset "UTF-8";
@import url(../../daVasstTrees.css);
.listcaythuysinh-parent {
  padding: 70px 0px 30px 0px;
}
.listcaythuysinh-parent .listcaythuysinh-child-header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 5px;
}
.listcaythuysinh-parent .listcaythuysinh-child-header__title {
  font-size: 35px;
  color: var(--color_green_main);
  font-weight: bold;
}
.listcaythuysinh-parent .listcaythuysinh-child-header__btn {
  padding-inline: 10px;
  background: var(--color_green_main);
  color: var(--color_white_main);
  border-radius: 30px;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  transition: all 0.25s ease;
}
.listcaythuysinh-parent .listcaythuysinh-child-header__btn a {
  color: var(--color_white_main);
  margin-right: 5px;
  transition: all 0.25s ease;
}
.listcaythuysinh-parent .listcaythuysinh-child-header__btn span {
  font-size: 18px;
  transition: all 0.25s ease;
}
.listcaythuysinh-parent .listcaythuysinh-child-header__btn:hover {
  opacity: 0.5;
}
.listcaythuysinh-parent .listcaythuysinh-child__hr {
  width: 100%;
  height: 3px;
  background: grey;
  position: relative;
  opacity: 0.8;
}
.listcaythuysinh-parent .listcaythuysinh-child__hr::before {
  content: "";
  width: 18%;
  height: 100%;
  position: absolute;
  background: var(--color_green_main);
  top: 0;
  left: 0;
  z-index: 999;
}
.listcaythuysinh-parent .listcaythuysinh-child .listCayThuySinh {
  display: flex;
  width: 100%;
  height: fit-content;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 20px;
}
.listcaythuysinh-parent .listcaythuysinh-child .listCayThuySinh__item {
  display: flex;
  width: 30%;
  height: 180px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  margin-bottom: 10px;
  cursor: pointer;
  position: relative;
}
.listcaythuysinh-parent .listcaythuysinh-child .listCayThuySinh__item-imgSuro {
  width: 45%;
  overflow: hidden;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
.listcaythuysinh-parent .listcaythuysinh-child .listCayThuySinh__item-imgSuro-img {
  width: 100%;
  height: 100%;
  transition: all 0.5s ease;
}
.listcaythuysinh-parent .listcaythuysinh-child .listCayThuySinh__item:hover .listCayThuySinh__item-imgSuro-img {
  transform: scale(1.2);
}
.listcaythuysinh-parent .listcaythuysinh-child .listCayThuySinh__item-discount {
  background: var(--color_green_main);
  color: var(--color_white_main);
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  position: absolute;
  top: 10px;
  left: 10px;
}
.listcaythuysinh-parent .listcaythuysinh-child .listCayThuySinh__item .listCayThuySinh-item-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 20px;
  flex: 1;
}
.listcaythuysinh-parent .listcaythuysinh-child .listCayThuySinh__item .listCayThuySinh-item-info__name {
  font-size: 18px;
  color: var(--color_green_main);
  font-weight: bold;
  font-size: 19px;
  margin-bottom: 10px;
}
.listcaythuysinh-parent .listcaythuysinh-child .listCayThuySinh__item .listCayThuySinh-item-info__price {
  font-size: 20px;
  color: var(--color__price);
  margin-bottom: 10px;
}
.listcaythuysinh-parent .listcaythuysinh-child .listCayThuySinh__item .listCayThuySinh-item-info__dash {
  font-size: 16px;
  text-decoration: line-through;
  color: grey;
}
.listcaythuysinh-parent .listcaythuysinh-child .listCayThuySinh__item .listCayThuySinh-item-info__btn {
  width: fit-content;
  background: var(--color_green_main);
  border: none;
  padding-block: 5px;
  padding-inline: 10px;
  border-radius: 20px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}
.listcaythuysinh-parent .listcaythuysinh-child .listCayThuySinh__item .listCayThuySinh-item-info__btn a {
  color: var(--color_white_main);
}
.listcaythuysinh-parent .listcaythuysinh-child .listCayThuySinh__item .listCayThuySinh-item-info__btn::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 100%;
  background: var(--color_white_main);
  border-radius: 20px;
  transition: all 0.5s ease;
  display: flex;
  align-items: center;
  justify-content: center;
}
.listcaythuysinh-parent .listcaythuysinh-child .listCayThuySinh__item .listCayThuySinh-item-info__btn:hover a {
  color: var(--color_green_main);
}
.listcaythuysinh-parent .listcaythuysinh-child .listCayThuySinh__item .listCayThuySinh-item-info__btn:hover::after {
  content: "Thêm vào giỏ hàng";
  width: 102%;
  left: 0;
  color: var(--color_green_main);
}

@media screen and (max-width: 992px) {
  .listcaythuysinh-parent .listcaythuysinh-child .listCayThuySinh__item {
    width: 45%;
    height: 150px;
  }
  .listcaythuysinh-parent .listcaythuysinh-child .listCayThuySinh__item-imgSuro {
    width: 45%;
  }
  .listcaythuysinh-parent .listcaythuysinh-child .listCayThuySinh__item .listCayThuySinh-item-info__name {
    font-size: 18px;
  }
  .listcaythuysinh-parent .listcaythuysinh-child .listCayThuySinh__item .listCayThuySinh-item-info__btn {
    padding: 5px;
  }
}
@media screen and (max-width: 768px) {
  .listcaythuysinh-parent .listcaythuysinh-child .listCayThuySinh__item {
    width: 45%;
    height: 150px;
  }
  .listcaythuysinh-parent .listcaythuysinh-child .listCayThuySinh__item-imgSuro {
    width: 45%;
  }
  .listcaythuysinh-parent .listcaythuysinh-child .listCayThuySinh__item .listCayThuySinh-item-info__name {
    font-size: 17px;
  }
  .listcaythuysinh-parent .listcaythuysinh-child .listCayThuySinh__item .listCayThuySinh-item-info__price {
    font-size: 19px;
  }
  .listcaythuysinh-parent .listcaythuysinh-child .listCayThuySinh__item .listCayThuySinh-item-info__dash {
    font-size: 15px;
  }
  .listcaythuysinh-parent .listcaythuysinh-child .listCayThuySinh__item .listCayThuySinh-item-info__btn {
    padding-inline: 0;
    font-size: 13px;
  }
}
@media screen and (max-width: 576px) {
  .listcaythuysinh-parent .listcaythuysinh-child-header__btn {
    padding: 8px;
    font-size: 15px;
  }
  .listcaythuysinh-parent .listcaythuysinh-child .listCayThuySinh__item {
    width: 100%;
    height: 130px;
  }
  .listcaythuysinh-parent .listcaythuysinh-child .listCayThuySinh__item-imgSuro {
    width: 45%;
  }
  .listcaythuysinh-parent .listcaythuysinh-child .listCayThuySinh__item .listCayThuySinh-item-info__name {
    font-size: 19px;
  }
  .listcaythuysinh-parent .listcaythuysinh-child .listCayThuySinh__item .listCayThuySinh-item-info__btn {
    padding: 4px;
    font-size: 15px;
  }
}
