@import url("../../daVasstTrees.css");
.bodySignIn {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(to right, var(--color__green_left), var(--color__green_right));
    position: relative;
}
.formLogin {
    width: 25%;
    height: 55%;
    position: absolute;
    padding-inline: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 5px;
    background: var(--color_white_main);

    &__taikhoan {
        width: 100%;
        position: relative;
        margin-block: 15px;

        &__label {
            position: absolute;
            transition: all 0.25s ease;
            top: 50%;
            left: 5px;
            transform: translateY(-50%);
            z-index: -1;
        }

        &__inp {
            width: 100%;
            outline: none;
            border: 1px solid black;
            border-radius: 5px;
            padding-left: 5px;
            padding-block: 10px;
            font-size: 16px;
            background: transparent;

            &:focus, &:user-valid {
                border: 1px solid var(--color_green_main);
            }

            &:focus + .formLogin__taikhoan__label, &:user-valid + .formLogin__taikhoan__label {
                background: var(--color_white_main);
                top: 0;
                z-index: 1;
                color: var(--color_green_main);
            }
        }
    }

    &__password {
        @extend .formLogin__taikhoan;
        margin-top: 0px;
        margin-bottom:3px;

        &__inp {
            @extend .formLogin__taikhoan__inp;
        }

        &__label {
            @extend .formLogin__taikhoan__label;
        }
    }
    &-labelError{
        color:red;
        width:100%;
        margin-bottom:3px;
        display:none;
    }
    &__redirect {
        width: 100%;
        display: flex;
        justify-content: space-around;
        margin-top: 10px;
    }
    &__btn{
        margin-top:15px;
    }
}
@media screen and (max-width:991.98px){
    .formLogin{
        width:40%;
        height:40%;
    }
}
@media screen and (max-width:765.98px){
    .formLogin {
        width: 50%;
        height:40%;
    }
}
@media screen and (max-width:575.98px) {
    .formLogin {
        width: 65%;
        height:40%;

        &__redirect {
            font-size: 14px;
        }
    }
}
@media screen and (max-width:329.98px) {
    .formLogin {
        width: 90%;
        height:45%;

        &__redirect {
            font-size: 12px;
        }
    }
    
}