@import url("../../daVasstTrees.css");
.headerNav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  background: var(--color_white_main);
  padding-block: 10px;
}
.headerNav__logo {
  color: var(--color_green_main);
  font-size: 35px;
  font-weight: bold;
  width: 20%;
  text-align: center;
  cursor: pointer;
}
.headerNav-list {
  display: flex;
  flex: 1;
  justify-content: space-around;
  align-items: center;
}
.headerNav-list__item {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: var(--color_green_main);
  width: 14%;
  text-align: center;
  height: 100%;
  border-radius: 10px;
  transition: all 0.25s ease;
  font-size: 18px;
  position: relative;
}
.headerNav-list__item a {
  color: var(--color_green_main);
}
.headerNav-list__item:hover {
  background-color: #7DD679;
  color: var(--color_white_main);
}
.headerNav-list__item:hover a {
  color: var(--color_white_main);
}
.headerNav-list__item:hover .headerNav-list__sub {
  display: block;
  width: 100%;
  transform: translateY(100%);
  z-index: 9;
  bottom: 0;
}
.headerNav-list__sub {
  display: none;
  position: absolute;
}
.headerNav-list__sub-item {
  background: white;
  color: var(--color_green_main);
  padding: 10px;
  cursor: pointer;
  position: relative;
}
.headerNav-list__sub-item:hover {
  background-color: var(--color_green_main);
  color: var(--color_white_main);
}
.headerNav-list__sub-item:hover a {
  color: var(--color_white_main);
}
.headerNav-list__sub-item:hover .treeDetail {
  display: block;
  z-index: 99;
  transform: translateX(100%);
  width: 100%;
}
.headerNav-list__sub-item span {
  position: absolute;
  right: 10px;
  font-size: 18px;
}
.headerNav-list__sub-item .treeDetail {
  display: none;
  position: absolute;
  right: 0;
  top: 0;
}
.headerNav-list__sub-item .treeDetail-item {
  width: 100%;
  padding: 10px;
  background: white;
}
.headerNav-list__sub-item .treeDetail-item a {
  color: var(--color_green_main);
}
.headerNav-list__sub-item .treeDetail-item:hover {
  background-color: var(--color_green_main);
}
.headerNav-list__sub-item .treeDetail-item:hover a {
  color: var(--color_white_main);
}
