@import url("../../daVasstTrees.css");
.headerNav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    background: var(--color_white_main);
    padding-block: 10px;
    position: sticky;
    top:0;
    left:0;
    z-index:999;
    &__logo {
        color: var(--color_green_main);
        font-size: 35px;
        font-weight: bold;
        width: 20%;
        text-align: center;
        cursor: pointer;
    }

    &-list {
        display: flex;
        flex: 1;
        justify-content: space-around;
        align-items: center;

        &__item {
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            color: var(--color_green_main);
            width: calc(70% / 5);
            text-align: center;
            height: 100%;
            border-radius: 10px;
            transition: all 0.25s ease;
            font-size: 18px;
            position: relative;

            a {
                width: 100%;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                color: var(--color_green_main);
            }

            &:hover .headerNav-list__sub {
                display: block;
                width: 100%;
                transform: translateY(100%);
                z-index: 9;
                bottom: 0;
            }

            &:hover {
                background-color: var(--color_green_main);
                color:var(--color_white_main);
            }

            &:hover a:is(:hover) {
                color: var(--color_white_main);
            }

          
        }

        &__sub {
            display: none;
            position: absolute;

            &-item {
                background: white;
                color: var(--color_green_main);
                padding: 10px;
                cursor: pointer;
                position: relative;

                &:hover {
                    background-color: var(--color_green_main);
                    color: var(--color_white_main);
                }

                a {
                    color: var(--color_green_main);
                }

                &:hover .treeDetail {
                    display: block;
                    z-index: 99;
                    transform: translateX(100%);
                    width: 100%;
                }

                span {
                    position: absolute;
                    right: 10px;
                    font-size: 18px;
                }

                .treeDetail {
                    display: none;
                    position: absolute;
                    right: 0;
                    top: 0;

                    &-item {
                        width: 100%;
                        padding: 10px;
                        background: white;

                        a {
                            color: var(--color_green_main);
                        }

                        &:hover {
                            background-color: var(--color_green_main);
                        }

                        &:hover a {
                            color: var(--color_white_main);
                        }
                    }
                }
            }
        }
    }

    &__logobar {
        display: flex;
        flex-direction: column;
        justify-content: center;
        display: none;
        cursor: pointer;

        &-item {
            background-color: black;
            width: 35px;
            height: 3px;
            border-radius: 5px;
            margin-bottom: 3px;
            transition: all 0.25s ease;
        }
    }
}
.nav-click {
    .headerNav__logobar-item:nth-child(1) {
        transform: rotate(55deg);
        margin-bottom: -8.5px;
    }

    .headerNav__logobar-item:nth-child(2) {
        width: 0px;
    }

    .headerNav__logobar-item:nth-child(3) {
        transform: rotate(-55deg);
        margin-bottom: 8.5px;
    }
}
.headerNav-list__responsive{
    display:flex!important;
    flex-direction:column;
    position:absolute;
    top:100%;
    background:var(--color_white_main);
    width:100%;
    left:0;
    z-index:999;
}
@media screen and (max-width:991.98px){
    .headerNav {
        padding-inline: 20px;
        padding-block:20px;
        &-list {
            display: none;

            &__item {
                width: 100%;
                border-radius: 0px;
                padding-block: 10px;
            }

            &__sub {
                &-item {
                    span {
                        transform: rotate(90deg);
                        right: 50px;
                        font-size: 20px;
                        font-weight: bold;
                    }

                    &:hover .treeDetail {
                        display: block;
                        z-index: 99;
                        transform: translateX(0);
                        width: 100%;
                    }
                }
            }
        }

        &__logobar {
            display: flex;
        }
    }
    
}

